:root {
  --sprite-size: 20px;
  --scale: 8;
  --pixel: 8px;
  --card-gap: 5px;
  --display-size: 44px;
  --btn-size: 11px;
  --bar-size: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  background-color: antiquewhite;
}

.sprite {
  image-rendering: pixelated;
  height: calc(var(--sprite-size)*var(--scale));
  width: calc(var(--sprite-size)*var(--scale));
}

.pixel-box {
  padding: var(--pixel);
  border: var(--pixel) solid black;
}

.center-text {
	text-align: center;
}

.break {
	margin: 0 0 var(--pixel) 0;
}

.middle-flex {
  display: flex;
	justify-content: center;
	align-items: flex-start;
  flex-wrap: wrap;
	gap: var(--pixel);
}

.column-flex{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.card-flex {
  display: flex;
  padding: calc(var(--scale)*var(--card-gap));
  gap: calc(var(--scale)*var(--card-gap));
	justify-content: space-between;
	align-content: flex-start;
	align-items: center;
	flex-flow: row wrap;
}

.card {
  image-rendering: pixelated;
  /* background-image: some card sprite;  */
  height: calc(var(--sprite-size)*var(--scale)*2);
  width: calc(var(--sprite-size)*var(--scale)*2);
}

.display {
  height: calc(var(--display-size)*var(--scale));
  width: calc(var(--display-size)*var(--scale));
}

.btn {
  height: calc(var(--btn-size)*var(--scale));
  flex-grow: 1;
}

.bar {
  height: calc(var(--bar-size)*var(--scale));
  width: calc(var(--display-size)*var(--scale));
}

#banner__stage {
  width: calc(8px*var(--scale));
}

#banner__name {
  width: calc(26px*var(--scale));
}

#banner__money {
  width: calc(8px*var(--scale));
}