:root {
  --sprite-size: 20px;
  --scale: 8;
  --pixel: 8px;
  --icon-size: 5px;
  --card-size: 30px;
  --card-gap: 5px;
  --display-size: 44px;
  --btn-size: 11px;
  --bar-size: 5px;
  --meter-size: 40px;
  --happiness-size: 0;
  --energy-size: 0;
}

* {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  background-color: antiquewhite;
}

.sprite {
  image-rendering: pixelated;
  height: calc(var(--sprite-size)*var(--scale));
  width: calc(var(--sprite-size)*var(--scale));
}

.pixel-box {
  padding: var(--pixel);
  border: var(--pixel) solid black;
}

.center-text {
	text-align: center;
}

.break {
	margin: 0 0 var(--pixel) 0;
}

.middle-flex {
  display: flex;
	justify-content: center;
	align-items: flex-start;
  flex-wrap: wrap;
	gap: var(--pixel);
}

.column-flex{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.card-flex {
  display: flex;
  padding: calc(var(--scale)*var(--card-gap));
  gap: calc(var(--scale)*var(--card-gap));
	/* justify-content: space-between; */
	align-content: flex-start;
	align-items: center;
	flex-flow: row wrap;
}

.card {
  image-rendering: pixelated;
  /* background-image: some card sprite;  */
  height: calc(var(--card-size)*var(--scale));
  width: calc(var(--card-size)*var(--scale));
}

.display {
  height: calc(var(--display-size)*var(--scale));
  width: calc(var(--display-size)*var(--scale));
}

.btn {
  height: calc(var(--btn-size)*var(--scale));
  flex-grow: 1;
}

.bar {
  position: relative;
  height: calc(var(--bar-size)*var(--scale));
  width: calc(var(--display-size)*var(--scale));
}

.happiness::before {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: var(--pixel);
  background-color: darkred;
  height: var(--pixel);
  width: calc(var(--happiness-size)*var(--meter-size)*var(--scale));
}

.happiness::after {
  display: block;
  position: absolute;
  content: "";
  background-image: url('./sprites/icons/heart.png');
  image-rendering: pixelated;
  background-size: calc(var(--icon-size)*var(--scale));
  height: calc(var(--icon-size)*var(--scale));
  width: calc(var(--icon-size)*var(--scale));
  
  top: 50%;
  transform: translate(-40%, -50%);
  left: calc(var(--happiness-size)*var(--meter-size)*var(--scale));
}

.energy::before {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: var(--pixel);
  background-color: green;
  height: var(--pixel);
  width: calc(var(--energy-size)*var(--meter-size)*var(--scale));
}

.energy::after {
  display: block;
  position: absolute;
  content: "";
  background-image: url('./sprites/icons/energy.png');
  image-rendering: pixelated;
  background-size: calc(var(--icon-size)*var(--scale));
  height: calc(var(--icon-size)*var(--scale));
  width: calc(var(--icon-size)*var(--scale));
  
  top: 50%;
  transform: translate(-40%, -50%);
  left: calc(var(--energy-size)*var(--meter-size)*var(--scale));
}

#banner__stage {
  width: calc(8px*var(--scale));
}

#banner__name {
  width: calc(26px*var(--scale));
}

#banner__money {
  width: calc(8px*var(--scale));
}